* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Jost";
}

h1{
	font-weight: bold;
	padding: 24px;
	font-size: 3em;
	text-align: center;
	 max-width: 475px;
	 margin: 0 auto;


}

body{
	background-color: #EEEEEE;
}
form {
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);

  max-width: 475px;
  padding: 24px 0 24px 0;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 16px;
  background-color: #fff;
}

form div.wrapper{
	text-align: right;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}
form div.wrapper_terms{
	display: flex;
	flex-direction: row;
	margin: 35px 15px 35px 15px;
	padding: 10px 0 10px 0;
	 justify-content: center;
	 background-color: #EEEEEE;
	 border-radius: 5px;

}

div.wrapper_terms input{
	flex: 0.1;
	margin-right: auto;
	margin-left: 25%;
	align-self:center;
/*	width: 10px;
	height: 10px;*/
}
div.wrapper_terms label{
	flex: 1;
}

form input{
	border: 1px solid #E0E0E0;
	flex: 1;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 3px;
}

form label{
	flex: 0.8;
}

form .error{
	display: flex;
	flex-direction: row;
	margin: 35px 15px 35px 15px;
	padding: 10px 0 10px 0;
	 justify-content: center;
	 background-color: hsla(333deg, 100%, 44%, 0.25);
	 border-radius: 5px;	
	 font-weight: bold;
	 display: none;
	 text-align: center;
}

form footer{
	display: flex;
	flex-direction: row;
	padding: 0 15px 0 15px;

}
footer button{
	padding: 10px 45px 10px 45px;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;

}

footer > button{
	background-color: hsl(333deg, 100%, 44%);
}

footer button:nth-child(2){
	margin-left: auto; /*puts the submit button on the right*/
	background-color: hsl(256deg, 100%, 44%);

}



